.release-financial{
    /* border: 1px solid red; */
}
.card-header{
    background-color: #6c63ff;
    color: #fff;
}
button a{
    text-decoration: none;
    color: #fff;
}

.card{
    background-color: #F5F5F5;
}