
.card-header{
    background-color: #6c63ff;
    color: #fff;
}
button a{
    text-decoration: none;
    color: #fff;
}

.card{
    background-color: #F5F5F5;
}


.header-table{
    background-color: #6c63ff;
}

table th
{
    color:#FFF;
}

.inputSearch{
    margin-right:5px;
}
.pa-expense{
    background-color: #FFF;
    border-radius: 20px;
    margin-left: 2px;
    color: red;
}

.pa-renevue{
    background-color: #FFF;
    border-radius: 20px;
    margin-left: 2px;
    color: green;
}

.row-red{
    color:red;
}